html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navlinks {
  color: black;
}

.logo {
  height: 38px;
}

/* ----------hero img---------- */

.fruitimg {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 10000px;
  height: 100vh;
  filter: brightness(50%);
}

.centered {
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.biginfo {
  width: 50%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 100px;
  text-align: left;
}

.smallcontent {
  width: 100%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.toptxt {
  background-color: white;
  margin-top: 50px;
}

.bottomtxt {
  background-color: white;
  height: 200px;
}

::-webkit-scrollbar {
  display: none;
}

.bigworkinfo {
  width: 100%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 100px;
  text-align: left;
}

.headergrid {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  font-size: x-large;
  margin-bottom: 100px;
}

h3 span {
  background: #fff;
  padding: 0 10px;
}

.methods {
  margin-top: 30px;
}

.headermethod {
  margin-top: -75px;
}
